html 
    head 
        title My Dance Academy
        block style  
    body 
        nav#navbar.top
            ul
                div#logo
                    img(src="https://th.bing.com/th/id/OIP.EHBVslFhfyvxmGsFFGU0fwHaIf?pid=ImgDet&w=860&h=986&rs=1")
                    | DDA
                li #[a(href ='/') Home]
                li #[a(href ='/') About ]
                li #[a(href ='/') Services ]
                li #[a(href ='/contact') Contacts]
        
        block content 

        footer#footer
            | Copyright 2022 devanshiDanceAcademy.com || All rights reserved

        