doctype html 
html
    head 
        title Dance Academy
        style 
            include ../static_f/style.css 
    body 
        nav#navbar.top
            ul
                div#logo
                    img(src="https://th.bing.com/th/id/OIP.EHBVslFhfyvxmGsFFGU0fwHaIf?pid=ImgDet&w=860&h=986&rs=1")
                    | DDA
                li #[a(href ='/') Home]
                li #[a(href ='/') About ]
                li #[a(href ='/') Services ]
                li #[a(href ='/') Contacts]
        
        section#introSection
            div Welcome to Devanshi's Dance Academy 
            div.small Eat Sleep Dance Repeat

        section#missionSection 
            div.heading Our Mission 
            div.card 
                h3  Dance perfection
                div.card-box
                    div.card-img
                        img(src="https://clipground.com/images/dance-silhouette-png-14.png")   
                    div.card-content
                        p This is the best Dance Academy of the Universe..
            div.card 
                h3 Dance as you like
                div.card-box
                    div.card-img
                        img(src="https://clipground.com/images/dance-silhouette-png-14.png")   
                    div.card-content
                        p This is the best Dance Academy of the Universe..
            div.card 
                h3 Expert Teaching
                div.card-box
                    div.card-img
                        img(src="https://clipground.com/images/dance-silhouette-png-14.png")   
                    div.card-content
                        p This is the best Dance Academy of the Universe..
        
        section#sponsorSection
            div.heading Our sponsors
            div#sponsors 
                img(class ="spImage" src="https://img.freepik.com/free-vector/purple-abstract-geometrical-logo-3d_1043-55.jpg?size=338&ext=jpg&ga=GA1.2.997046484.1668233116")
                img(class ="spImage" src="https://as1.ftcdn.net/v2/jpg/04/41/22/64/1000_F_441226441_jk0ZHWjngkXIgO4Ui2YWCqilNRtIucr9.jpg")
                img(class ="spImage" src="https://img.freepik.com/free-vector/purple-logo-with-human-shape-star_1057-2128.jpg?size=338&ext=jpg&ga=GA1.2.997046484.1668233116")
                img(class ="spImage" src="https://img.freepik.com/free-vector/symetrical-business-logo_1025-939.jpg?size=338&ext=jpg&ga=GA1.2.997046484.1668233116")
        footer#footer
            | Copyright 2022 devanshiDanceAcademy.com || All rights reserved
        script 
            include ../static_f/script.js
